[positions]
sitting = 600
standing = 4000
coffee = 0
bar = 6500

[desk]
mac = AA:BB:CC:DD:EE:FF

[settings]
icon = icon-light.png
get_position_at_startup = False
gui = default

[favourites]
sitting
standing
